body {
    padding-bottom: 30px;
}

.theme-bg {
    background-color: teal;
    color: white;
}
.theme-bg-light {
    background-color: #00b9b9;
    color: white;
}
.theme-text {
    color: teal;
}
.theme-text-faded {
    color: #00b9b9;
}
.theme-text-secondary {
    color: #4D4208;
}

.input-center {
    width: 350px;
}
@media only screen and (max-width:600px ) {
    .input-center {
        width: 100%;
    }
}

.button-all {
    min-width: 64px;
    height: 36px;

    font-size: 16px;
    line-height: 16px;
    font-family: "Segoe UI", Arial, sans-serif;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.button-all>a {
    text-decoration: none !important;
}
.button-main {
    background-color: teal;
    color: white;
}
.button-main:hover {
    background-color: #009999 !important;
    color: white !important;
    outline:0 !important;
}
.button-main:focus {
    background-color: #19adab !important;
    color: white !important;
    outline:0 !important;
}
.button-main:active {
    background-color: #19c3c1 !important;
    color: white !important;
    outline:0 !important;
}
.button-main:disabled {
    background-color: #959799 !important;
    color: #5d5f61 !important;
}

.button-secondary {
    background-color: transparent;
    color: teal;
    border: teal 1px solid;
    border-radius: 3px;
}
.button-secondary:hover {
    background-color: rgba(0, 128, 128, 0.05) !important;
    color: teal !important;
    outline:0 !important;
}
.button-secondary:focus {
    background-color: rgba(0, 128, 128, 0.10) !important;
    color: teal !important;
    outline:0 !important;
}
.button-secondary:active {
    background-color: rgba(0, 128, 128, 0.20) !important;
    color: teal !important;
    outline:0 !important;
}
.button-secondary:disabled {
    border: #5d5f61 1px solid !important;
    color: #5d5f61 !important;
}

.button-tertiary {
    background-color: transparent;
    color: teal;
    border-width: 0;
    border-radius: 3px;
    text-decoration: none !important;
}
.button-tertiary:hover {
    background-color: rgba(0, 128, 128, 0.05) !important;
    color: teal !important;
    outline:0 !important;
}
.button-tertiary:focus {
    background-color: rgba(0, 128, 128, 0.10) !important;
    color: teal !important;
    outline:0 !important;
}
.button-tertiary:active {
    background-color: rgba(0, 128, 128, 0.20) !important;
    color: teal !important;
    outline:0 !important;
}
.button-tertiary:disabled {
    border: #5d5f61 1px solid !important;
    color: #5d5f61 !important;
}

.text-white-force {
    color: white !important;
}
.text-white-force:hover {
    color: white !important;
}
.text-white-force:focus {
    color: white !important;
}
.text-white-force:active {
    color: white !important;
}
.text-white-force:disabled {
    color: white !important;
}

div.top-container {
    padding: 4px 16px;
}

@media only screen and (min-width:600px ) {
    .duo_button_left {
        padding-right: 5px;
    }
    .duo_button_right {
        padding-left: 5px;
    }
}
@media only screen and (max-width:599px ) {
    .duo_button_left {
        padding-bottom: 5px;
    }
    .duo_button_right {
        padding-top: 5px;
    }
}