body {
    padding-bottom: 30px;
}

.theme-bg {
    background-color: teal;
    color: white;
}
.theme-bg-light {
    background-color: #00b9b9;
    color: white;
}
.focus-bg {
    background-color: rgba(0, 128, 128, 0.20) !important;
}
.theme-text {
    color: teal;
}
.theme-text-faded {
    color: #00b9b9;
}
.theme-text-secondary {
    color: #4D4208;
}
.theme-text-secondary-faded {
    color: #aaa57b;
}

.button-all {
    height: 36px;

    font-size: 16px;
    line-height: 16px;
    font-family: "Segoe UI", Arial, sans-serif;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.button-all>a {
    text-decoration: none !important;
}
.button-all i {
    margin-right: 8px;
}

.button-main {
    background-color: teal;
    color: white;
}
.button-main:hover {
    background-color: #009999 !important;
    color: white !important;
    outline:0 !important;
}
.button-main:focus {
    background-color: #19adab !important;
    color: white !important;
    outline:0 !important;
}
.button-main:active {
    background-color: #19c3c1 !important;
    color: white !important;
    outline:0 !important;
}
.button-main:disabled {
    background-color: #959799 !important;
    color: #5d5f61 !important;
}

.button-secondary {
    background-color: transparent;
    color: teal;
    border: teal 1px solid;
    border-radius: 3px;
}
.button-secondary:hover {
    background-color: rgba(0, 128, 128, 0.05) !important;
    color: teal !important;
    outline:0 !important;
}
.button-secondary:focus {
    background-color: rgba(0, 128, 128, 0.10) !important;
    color: teal !important;
    outline:0 !important;
}
.button-secondary:active {
    background-color: rgba(0, 128, 128, 0.20) !important;
    color: teal !important;
    outline:0 !important;
}
.button-secondary:disabled {
    border: #5d5f61 1px solid !important;
    color: #5d5f61 !important;
}

.button-tertiary {
    background-color: transparent;
    color: teal;
    border-width: 0;
    border-radius: 3px;
    text-decoration: none !important;
}
.button-tertiary:hover {
    background-color: rgba(0, 128, 128, 0.05) !important;
    color: teal !important;
    outline:0 !important;
}
.button-tertiary:focus {
    background-color: rgba(0, 128, 128, 0.10) !important;
    color: teal !important;
    outline:0 !important;
}
.button-tertiary:active {
    background-color: rgba(0, 128, 128, 0.20) !important;
    color: teal !important;
    outline:0 !important;
}
.button-tertiary:disabled {
    border: #5d5f61 1px solid !important;
    color: #5d5f61 !important;
}

.text-white-force {
    color: white !important;
}
.text-white-force:hover {
    color: white !important;
}
.text-white-force:focus {
    color: white !important;
}
.text-white-force:active {
    color: white !important;
}
.text-white-force:disabled {
    color: white !important;
}

#top-container {
    padding: 4px 8px;
    max-height: 48px;
}

.duo_button_div {
    display: flex;
}
.duo_button_left {
    padding-right: 5px;
    flex: 1;
}
.duo_button_right {
    padding-left: 5px;
    flex: 0 0 50%;
}

.full-width {
    width: 100%;
}
.icon-fix-width {
    width: 32px;
}

/*===============================================================================================*/
/*===============================================================================================*/
/*    ____    ____ ___ __________ ____
//   |___ \  / ___|_ _|__  / ____/ ___|
//     __) | \___ \| |  / /|  _| \___ \
//    / __/   ___) | | / /_| |___ ___) |
//   |_____| |____/___/____|_____|____/
*/

/*===============================================================================================*/
/*    ___ __  __   _   _    _
//   / __|  \/  | /_\ | |  | |
//   \__ \ |\/| |/ _ \| |__| |__
//   |___/_|  |_/_/ \_\____|____|
*/
@media only screen and (max-width:599px ) {

}
/*    __  __ ___ ___ ___ _   _ __  __    ___  ___   ___ ___ ___  ___ ___ ___
//   |  \/  | __|   \_ _| | | |  \/  |  / _ \| _ \ | _ )_ _/ __|/ __| __| _ \
//   | |\/| | _|| |) | || |_| | |\/| | | (_) |   / | _ \| | (_ | (_ | _||   /
//   |_|  |_|___|___/___|\___/|_|  |_|  \___/|_|_\ |___/___\___|\___|___|_|_\
*/
@media only screen and (min-width:600px ) {

}

/*===============================================================================================*/
/*    __  __ ___ ___ ___ _   _ __  __    ___  ___   ___ __  __   _   _    _    ___ ___
//   |  \/  | __|   \_ _| | | |  \/  |  / _ \| _ \ / __|  \/  | /_\ | |  | |  | __| _ \
//   | |\/| | _|| |) | || |_| | |\/| | | (_) |   / \__ \ |\/| |/ _ \| |__| |__| _||   /
//   |_|  |_|___|___/___|\___/|_|  |_|  \___/|_|_\ |___/_|  |_/_/ \_\____|____|___|_|_\
*/
@media only screen and (max-width:767px ) {
    .input-center {
        width: 100%;
    }
    .app-map{
        height: 250px;
    }
}
/*    __  __  ___  ___   _   _      _      _   ___  ___ ___    ___  ___   _      _   ___  ___ ___ ___
//   |  \/  |/ _ \|   \ /_\ | |    | |    /_\ | _ \/ __| __|  / _ \| _ \ | |    /_\ | _ \/ __| __| _ \
//   | |\/| | (_) | |) / _ \| |__  | |__ / _ \|   / (_ | _|  | (_) |   / | |__ / _ \|   / (_ | _||   /
//   |_|  |_|\___/|___/_/ \_\____| |____/_/ \_\_|_\\___|___|  \___/|_|_\ |____/_/ \_\_|_\\___|___|_|_\
*/
@media only screen and (min-width:768px ) {
    .input-center {
        width: 350px;
    }
    .app-map{
        height: 300px;
    }
}

/*===============================================================================================*/
/*    __  __  ___  ___   _   _      _      _   ___  ___ ___    ___  ___   ___ __  __   _   _    _    ___ ___
//   |  \/  |/ _ \|   \ /_\ | |    | |    /_\ | _ \/ __| __|  / _ \| _ \ / __|  \/  | /_\ | |  | |  | __| _ \
//   | |\/| | (_) | |) / _ \| |__  | |__ / _ \|   / (_ | _|  | (_) |   / \__ \ |\/| |/ _ \| |__| |__| _||   /
//   |_|  |_|\___/|___/_/ \_\____| |____/_/ \_\_|_\\___|___|  \___/|_|_\ |___/_|  |_/_/ \_\____|____|___|_|_\
*/
@media only screen and (max-width:991px ) {

}
/*    _      _   ___  ___ ___
//   | |    /_\ | _ \/ __| __|
//   | |__ / _ \|   / (_ | _|
//   |____/_/ \_\_|_\\___|___|
*/
@media only screen and (min-width:992px ) {

}

/*===============================================================================================*/
/*===============================================================================================*/
/*    _____   ____ ___ __________ ____
//   |___ /  / ___|_ _|__  / ____/ ___|
//     |_ \  \___ \| |  / /|  _| \___ \
//    ___) |  ___) | | / /_| |___ ___) |
//   |____/  |____/___/____|_____|____/
*/

/*===============================================================================================*/
/*    ___ __  __   _   _    _
//   / __|  \/  | /_\ | |  | |
//   \__ \ |\/| |/ _ \| |__| |__
//   |___/_|  |_/_/ \_\____|____|
*/
@media only screen and (max-width:599px ) {

}
/*    __  __ ___ ___ ___ _   _ __  __
//   |  \/  | __|   \_ _| | | |  \/  |
//   | |\/| | _|| |) | || |_| | |\/| |
//   |_|  |_|___|___/___|\___/|_|  |_|
*/
@media only screen and (min-width:600px ) and (max-width:767px ) {

}
/*    __  __  ___  ___   _   _      _      _   ___  ___ ___    ___  ___   _      _   ___  ___ ___ ___
//   |  \/  |/ _ \|   \ /_\ | |    | |    /_\ | _ \/ __| __|  / _ \| _ \ | |    /_\ | _ \/ __| __| _ \
//   | |\/| | (_) | |) / _ \| |__  | |__ / _ \|   / (_ | _|  | (_) |   / | |__ / _ \|   / (_ | _||   /
//   |_|  |_|\___/|___/_/ \_\____| |____/_/ \_\_|_\\___|___|  \___/|_|_\ |____/_/ \_\_|_\\___|___|_|_\
*/
@media only screen and (min-width:768px ) {

}

/*===============================================================================================*/
/*    ___ __  __   _   _    _
//   / __|  \/  | /_\ | |  | |
//   \__ \ |\/| |/ _ \| |__| |__
//   |___/_|  |_/_/ \_\____|____|
*/
@media only screen and (max-width:599px ) {

}
/*    __  __ ___ ___ ___ _   _ __  __    ___  ___   __  __  ___  ___   _   _      _      _   ___  ___ ___
//   |  \/  | __|   \_ _| | | |  \/  |  / _ \| _ \ |  \/  |/ _ \|   \ /_\ | |    | |    /_\ | _ \/ __| __|
//   | |\/| | _|| |) | || |_| | |\/| | | (_) |   / | |\/| | (_) | |) / _ \| |__  | |__ / _ \|   / (_ | _|
//   |_|  |_|___|___/___|\___/|_|  |_|  \___/|_|_\ |_|  |_|\___/|___/_/ \_\____| |____/_/ \_\_|_\\___|___|
*/
@media only screen and (min-width:600px ) and (max-width:991px ) {

}
/*    _      _   ___  ___ ___
//   | |    /_\ | _ \/ __| __|
//   | |__ / _ \|   / (_ | _|
//   |____/_/ \_\_|_\\___|___|
*/
@media only screen and (min-width:992px ) {

}

/*===============================================================================================*/
/*    ___ __  __   _   _    _       ___  ___   __  __ ___ ___ ___ _   _ __  __
//   / __|  \/  | /_\ | |  | |     / _ \| _ \ |  \/  | __|   \_ _| | | |  \/  |
//   \__ \ |\/| |/ _ \| |__| |__  | (_) |   / | |\/| | _|| |) | || |_| | |\/| |
//   |___/_|  |_/_/ \_\____|____|  \___/|_|_\ |_|  |_|___|___/___|\___/|_|  |_|
*/
@media only screen and (max-width:767px ) {

}
/*    __  __  ___  ___   _   _      _      _   ___  ___ ___
//   |  \/  |/ _ \|   \ /_\ | |    | |    /_\ | _ \/ __| __|
//   | |\/| | (_) | |) / _ \| |__  | |__ / _ \|   / (_ | _|
//   |_|  |_|\___/|___/_/ \_\____| |____/_/ \_\_|_\\___|___|
*/
@media only screen and (min-width:768px ) and (max-width:991px ) {

}
/*    _      _   ___  ___ ___
//   | |    /_\ | _ \/ __| __|
//   | |__ / _ \|   / (_ | _|
//   |____/_/ \_\_|_\\___|___|
*/
@media only screen and (min-width:992px ) {

}

/*===============================================================================================*/
/*===============================================================================================*/
/*    _  _     ____ ___ __________ ____
//   | || |   / ___|_ _|__  / ____/ ___|
//   | || |_  \___ \| |  / /|  _| \___ \
//   |__   _|  ___) | | / /_| |___ ___) |
//      |_|   |____/___/____|_____|____/
*/

/*===============================================================================================*/
/*    ___ __  __   _   _    _
//   / __|  \/  | /_\ | |  | |
//   \__ \ |\/| |/ _ \| |__| |__
//   |___/_|  |_/_/ \_\____|____|
*/
@media only screen and (max-width:599px ) {

}
/*    __  __ ___ ___ ___ _   _ __  __
//   |  \/  | __|   \_ _| | | |  \/  |
//   | |\/| | _|| |) | || |_| | |\/| |
//   |_|  |_|___|___/___|\___/|_|  |_|
*/
@media only screen and (min-width:600px ) and (max-width:767px ) {

}
/*    __  __  ___  ___   _   _      _      _   ___  ___ ___
//   |  \/  |/ _ \|   \ /_\ | |    | |    /_\ | _ \/ __| __|
//   | |\/| | (_) | |) / _ \| |__  | |__ / _ \|   / (_ | _|
//   |_|  |_|\___/|___/_/ \_\____| |____/_/ \_\_|_\\___|___|
*/
@media only screen and (min-width:768px ) and (max-width:991px ) {

}
/*    _      _   ___  ___ ___
//   | |    /_\ | _ \/ __| __|
//   | |__ / _ \|   / (_ | _|
//   |____/_/ \_\_|_\\___|___|
*/
@media only screen and (min-width:992px ) {

}